@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext");

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__logoImage {
  width: 200px;
}

.header__title {
  margin-top: auto;
  margin-bottom: auto;
}

.formLabel {
  display: flex;
  flex-direction: column;
}

.formLabel > input {
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  -webkit-box-shadow: 1px 0px 3px 0px #8d8d8d;
  box-shadow: 1px 0px 3px 0px #8d8d8d;
  border: 1px solid rgba(134, 134, 134, 0.5);
}

.formNewEmployee {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  width: 90%;
  margin: auto;
}

thead > tr > th {
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

tbody > tr {
  border: 3px solid rgb(183, 183, 183);
}

thead {
  background-color: #aab77a;
}

.formNewEmployee {
  display: flex;
  flex-direction: column;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexRowSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.grey {
  color: rgb(227, 227, 227);
}

.purple {
  color: rgb(0, 0, 0);
}

.white {
  color: white;
}

button {
  background-color: transparent;
  border: none;
}

.verticalAlign {
  margin-top: auto;
  margin-bottom: auto;
}
