@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext");

/* @font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("https://fonts.googleapis.com/css?family=Roboto:regular&subset=latin,latin-ext")
      format("woff2");
  font-display: swap;
} */

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-display: swap;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__logoImage {
  width: 200px;
  height: 180px;
}

.header__title {
  margin-top: auto;
  margin-bottom: auto;
}

.formLabel {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  -webkit-box-shadow: 1px 0px 3px 0px #8d8d8d;
  box-shadow: 1px 0px 3px 0px #8d8d8d;
  border: 1px solid rgba(134, 134, 134, 0.5);
}

.formNewEmployee {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 10px;
}

thead > tr > td {
  margin: auto;
  text-align: center;
  border-radius: 5px;
  border: 2px solid white;
}

tbody > tr:nth-child(even) {
  background-color: rgb(216, 216, 216);
}

td {
  padding: 6px;
  display: table-cell;
  box-sizing: content-box;
}

tbody > tr {
  border: 3px solid rgb(234, 234, 234);
}

thead {
  background-color: #aab77a;
}

.formNewEmployee {
  display: flex;
  flex-direction: column;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexRowSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.grey {
  color: rgb(227, 227, 227);
}

.purple {
  color: rgb(0, 0, 0);
}

.white {
  color: white;
}

button {
  background-color: transparent;
  border: none;
}

.verticalAlign {
  margin-top: auto;
  margin-bottom: auto;
}

.formName {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: 5px;
  font-weight: bold;
}

.paginationButton {
  font-size: 17px;
  padding: 15px;
  margin: 5px;
}

.paginationButton:hover {
  background-color: black;
  border-radius: 5px;
  color: white;
}

.paginationButton--active {
  background-color: black;
  border-radius: 5px;
  color: white;
}

.address {
  border-radius: 5px;
  background-color: #aab77a72;
  margin: 20px 0;
  padding: 10px;
}

.address > div {
  text-align: left;
  color: #6c754d;
  font-size: 20px;
}

select {
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 0px 3px 0px #8d8d8d;
  box-shadow: 1px 0px 3px 0px #8d8d8d;
  border: 1px solid rgba(134, 134, 134, 0.5);
}

.formSubmitButton {
  margin: 20px 120px;
  -webkit-box-shadow: 1px 0px 3px 0px #8d8d8d;
  box-shadow: 1px 0px 3px 0px #8d8d8d;
  border: 1px solid rgba(134, 134, 134, 0.5);
  background-color: #464c32;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
}
